{% extends "durian/base_site.html" %}
{% load i18n %}

{% block content %}
<form id="durian-create-hook" method="post" action="{% url durian:create %}">
    <input type="hidden" name="type" value="{{ hook_type }}" />
    <h4>{% trans "Listener configuration" %}</h4>
    {{ config_form.as_p }}

    <h4>{% trans "Filter events" %}</h4>
    {% for match_form in match_forms %}
        <p><div id="durian-create-hook-condition">
            {{ match_form }}
        </div></p>
    {% endfor %}
    <input type="submit" value="Create" />
</form>
{% endblock %}
